h1.title {
  text-align: center;
}

h2, .h2 {
  padding-bottom: 0.9rem;
  padding-top: 1.2rem;
  text-align: left;
  font-weight: bold;
  font-size: 2.2rem;
  text-decoration: underline;

}

.main {
  padding-bottom: 150px;
}

.gravatar_edit{
  margin: 2rem 0;
}

// table users index
table{
  margin-top: 2rem;
  border: 2px solid black;
  box-shadow: 3px 3px 5px #888888;
  table-layout: fixed;
}

thead{
  background-color: #efefef;
}

.pagination .a{
position: relative;
display: block;
padding: 0.5rem 0.75rem;
margin-left: -1px;
line-height: 1.25;
color: #fff;
background-color: #78C2AD;
border: 1px solid #78C2AD;
}
