<footer class="footer fixed-bottom footer-expand-lg footer-light bg-light">
        <div class="container">
            <div class="row">
                <div class="footer-col col-sm-4">
                    <h5>Contact Info</h5>
                    <hr>
                    <a href="#"><span>Email:</span> lali20021@gmail.com</a>

                </div>

                <div class="footer-col col-sm-4">
                    <h5>Site Map</h5>
                    <hr>
                    <a href="#">About Me</a>

                </div>

                <div class="footer-col col-sm-4">
                    <h5>Social Media</h5>
                    <hr>

                    <a href="https://instagram.com/oolala_girl">
                      <i class="fab fa-instagram"></i>
                    </a>
                  
                </div>
            </div>
        </div>
</footer>
